*::before,
*::after,
* {
    box-sizing: border-box;
}

:root {
    --page-background-color: #d7d7d5;
    --page-text-color: #42404f;

    --form-height: 3rem;
    --form-radius: 10px;
    --form-color: #d49b9d;

    --list-item-height: 2rem;
}

body {
    background-color: var(--page-background-color);
    color: var(--page-text-color);
    margin: 30px;
}

.form {
    display: flex;
    height: var(--form-height);
    border: none;
    margin: 20px 0px;
}

.form > * {
    background-color: var(--form-color);
}

.new-item-input {
    width: 100%;
    border-top-left-radius: var(--form-radius);
    border-bottom-left-radius: var(--form-radius);
    outline: none;
    border-color: transparent;

    font-size: x-large;
}

.new-item-input:focus {
    /* border-radius: 0px; */
    border-bottom: 2px solid;
    border-image: linear-gradient(to left, red 99.5%, transparent 0.5%) 100% 1;
    border-top: none;
}

.submit-item-btn {
    align-self: flex-end;
    height: var(--form-height);
    width: var(--form-height);
    border-top-right-radius: var(--form-radius);
    border-bottom-right-radius: var(--form-radius);
    border: none;
    cursor: pointer;
}

.list-container {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-item {
    border-bottom: 2px solid var(--form-color);
    padding-bottom: calc(var(--list-item-height) / 2);
    min-height: var(--list-item-height);

    display: flex;
    align-items: center;
    gap: 5px;
}

.list-item-text {
    font-size: large;
    width: 90%;
}

.checkbox,
.edit-btn,
.delete-btn {
    background-color: aliceblue;
    height: var(--list-item-height);
    width: var(--list-item-height);

    cursor: pointer;
}

.checked {
    background-color: aqua;
}
